/* Form Wrapper */
.formWrapper {
    display: flex;
    background-image: url('../../assets/images/contactFormImagage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0.5rem;
    margin: 1.25rem 0;
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form */ 
.form {

    width: 50%;
    height: 100%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}


.form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.form label {
    margin: 0.5rem;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.form input, select{
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: white;
    width: 95%; 
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

#contactForm > select{
    height: 2.6rem;
    padding: 0.5rem;
}
.form input.radioButton{
    margin-right:1rem;
    max-width: 2rem;
}

.form input:focus, select:focus{
    border-color: #007BFF;
    outline: none;
}

