.submitButton{
    display: flex;
    justify-content: center;
}




.formButton {
    background-color: #2d96cd;
    color: white;
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.formButton:hover {
    background-color: #0056b3;
}

.error{
    display: block;
    color: red;
}
