/* Navbar */
nav {
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #007BFF, #00D4FF);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin-top: 0.75rem;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    background-color: white;
    color: #007BFF;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0083FF;
    color: white;
}

.active {
    background-color: #00D0FF;
    color: white;
}
